# Symfony (dans app/)
app/var/
app/vendor/
app/.env.local
app/.env.local.php
app/.env.*.local
app/.phpunit.result.cache
app/config/secrets/prod/prod.decrypt.private.php
app/public/bundles/



# Node
node_modules/

# IDE / OS
.idea/
.DS_Store

# Docker
docker-compose.override.yml