<div style="font-family: Arial, sans-serif; padding: 20px; background-color: #f9f9f9; border-radius: 8px;">
	<h2 style="color: #2c3e50;">Bonjour
		{{ user.pseudo }},</h2>
	<p style="font-size: 16px; color: #333;">
		Votre trajet entre
		<strong>{{ ride.departureCity }}</strong>
		et
		<strong>{{ ride.arrivalCity }}</strong>
		est maintenant terminé.
	</p>
	<p style="font-size: 16px; color: #333;">
		Il vous faut encore confirmer le bon déroulé du trajet sur votre tableau de bord ou nous signaler un soucis s'il y en a malheuresement eu un et nous le réglerons dans les plus brefs délais.
	</p>
	<p style="margin-top: 30px;">
		<a href="https://ecoride-study-project-c9498eed6026.herokuapp.com/dashboard" style="display: inline-block; padding: 10px 20px; background-color: #28a745; color: white; text-decoration: none; border-radius: 5px;">
			{{Accéder à mon tableau de bord}}
		</a>
	</p>
	<p style="font-size: 14px; color: #999; margin-top: 20px;">
		Merci d’avoir utilisé EcoRide.
	</p>
</div>
