{% extends 'base.html.twig' %}

{% block title %}Tableau de bord - EcoRde
{% endblock %}

{% block body %}
<main>
    <h1>Driver</h1>
    <ul>
    <li>Musique autorisée : {{ preferences.musicAllowed ? 'Oui' : 'Non' }}</li>
    <li>Fumer autorisé : {{ preferences.smokingAllowed ? 'Oui' : 'Non' }}</li>
    <li>Animaux autorisés : {{ preferences.animalsAllowed ? 'Oui' : 'Non' }}</li>
</ul>
</main>
{% endblock %}