{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<main class="container-xl">
    <h1 class="text-primary">Résultat(s) de la recherche</h1>
    <p class="text-body-tertiary">NOMBRE trajets trouvés de VILLE à VILLE le DATE :</p>

    <div class="accordion mb-4 shadow" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed text-white bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Effectuer une nouvelle recherche
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <form autocomplete="off" action="" method="get" class="text-light-emphasis row justify-content-center my-2" id="addressForm">

                        <div class="searchContainer mb-3 mb-lg-0 col-12 col-lg-3">
                            <label for="departureInput">Départ</label>
                            <input id="departureInput" class="searchInput form-control" name="departure" list="departureList" required>
                            <datalist id="departureList"></datalist>
                        </div>

                        <div class="searchContainer mb-3 mb-lg-0 col-12 col-lg-3">
                            <label for="arrivalInput">Arrivé</label>
                            <input id="arrivalInput" class="searchInput form-control" name="destination" list="arrivalList" required>
                            <datalist id="arrivalList"></datalist>
                        </div>
                        <div class="searchContainer mb-3 mb-lg-0 col-12 col-lg-3">
                            <label for="date">Date</label>
                            <input type="date" id="date" class="searchInput form-control error" name="date" required>
                        </div>

                        <div class="text-center col-lg-2 align-self-end">
                            <button type="submit" id="validateButton" class="btn btn-primary" value="Filtrer">Rechercher</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-dark mb-3 d-lg-none" data-bs-toggle="modal" data-bs-target="#filtersModal">
            Filtrer la recherche
        </button>
    </div>

    <!-- Modal filters -->
    <div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="filtersModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-primary" id="filtersModalLabel">Filtres</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body text-black">
                    <form action="">

                        <div class="mb-3 text-start">
                            <label for="max-price-mobile" class="form-label">Prix max : <span id="price-range-value-mobile" class="text-secondary"></span></label>
                            <input type="range" class="form-range" min="1" max="5" id="max-price-mobile" value="">
                        </div>

                        <div class="mb-3 text-start">
                            <label for="driver-min-rating-mobile" class="form-label">Note min du chauffeur <span id="driver-rating-range-value-mobile" class="text-secondary"></span></label>
                            <input type="range" class="form-range" min="1" max="5" id="driver-min-rating-mobile" value="">
                        </div>

                        <div class="mb-3 form-check">
                            <label class="form-check-label" for="eco-trip-only">
                                Voyage écologique seulement <i class="bi bi-lightning-charge text-secondary"></i>
                                <input class="form-check-input" type="checkbox" value="" id="eco-trip-only">
                        </div>
                        <div class="text-center col-lg-2 align-self-end">
                            <input type="submit" class="btn btn-primary" name="#" value="Rechercher">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="d-none d-lg-block col-4 bg-white shadow rounded p-5 align-self-start sticky-top">
            <h2 class="text-primary text-center">Filtres</h2>

            <form action="<?= $router->url('trips-results', [
                                'departure' => isset($_GET['departure']) ? $_GET['departure'] : '',
                                'destination' => isset($_GET['destination']) ? $_GET['destination'] : '',
                                'date' => isset($_GET['date']) ? $_GET['date'] : '',
                            ]) ?>">

                <div class="mb-3 text-start">
                    <label for="max-price-desktop" class="form-label">Prix max : <span id="price-range-value-desktop" class="text-secondary"></span></label>
                    <input type="range" class="form-range" min="1" max="5" id="max-price-desktop" value="">
                </div>

                <div class="mb-3 text-start">
                    <label for="driver-min-rating-desktop" class="form-label">Note min du chauffeur <span id="driver-rating-range-value-desktop" class="text-secondary"></span></label>
                    <input type="range" class="form-range" min="1" max="5" id="driver-min-rating-desktop" value="">
                </div>

                <div class="mb-3 form-check">
                    <label class="form-check-label" for="eco-trip-only">
                        Voyage écologique seulement <i class="bi bi-lightning-charge text-secondary"></i>
                        <input class="form-check-input" type="checkbox" value="" id="eco-trip-only">
                </div>
                <div class="text-center col-lg-2">
                    <input type="submit" class="btn btn-primary" name="#" value="Rechercher">
                </div>
            </form>
        </div>



        <!-- Résultat de la recherche CARD -->
        <div id="carpooling-results" class="col-12 col-md-10 col-lg-7">
            
                
                    <a class="text-black" href="#">
                        <div class="carpooling-item bg-white shadow rounded  p-3 mb-3">
                            <h3 class="text-primary">DEPART -> ARRIVEE</h3>
                            <hr>
                            <div class="row align-items-center">
                                <div class="align-items-center d-flex col">
                                    <img src="/assets/images/user.png" alt="" height="40" class="rounded-circle border border-dark me-2">
                                    <div class="fs-5">PSEUDO</div>
                                </div>
                                <div class="col text-end">
                                    NOTE/5<i class='bi bi-star-fill text-warning'></i>
                                </div>
                            </div>
                            <hr>
                            <div class="row align-items-center mx-auto">
                                <div class="col fs-5 text-dark text-end">DATE DEPART</div>
                                <div class="col-6 line"></div>
                                <div class="col fs-5 text-dark">DATE ARRIVEE</div>
                            </div>
                            <hr>
                            <div class="row align-items-center mx-auto">
                                <div class="col-8">
                                    <p class="text-secondary mb-0">Voyage écologique <i class="bi bi-lightning-charge"></i></p>
                                    <!-- <p class="text-secondary mb-0">Voyage écologique<i class="bi bi-lightning-charge"></i></p> -->
                                    <p class="mb-0">Places restante(s) : NOMBRE</p>
                                </div>
                                <div class="text-dark col text-end fs-2">PRIX <i class="bi bi-coin text-warning"></i></div>
                            </div>
                        </div>
                    </a>
                
                    <h3 class="text-center">Pas de covoiturage disponible pour cette date...</h3>
                    <form method="get" action="" class="text-center">
                        <input type="hidden" name="departure" value="<?= $departureSearch ?>">
                        <input type="hidden" name="destination" value="<?= $destinationSearch ?>">
                        <input type="hidden" name="date" value="<?= $nextDate->format('Y-m-d') ?>">
                        <input type="submit" class="btn btn-primary" value="Trajet trouvé le NOUVELLE DATE">
                    </form>
                
                    <h3 class="text-center">Pas de covoiturage disponible pour ce trajet...</h3>
                
            
        </div>

    </div>
</main>
{% endblock %}
