/* Texte */
.text-primary {
    color: $primary !important;
}

.text-secondary {
    color: $secondary !important;
}

.text-dark {
    color: $dark !important;
}

/* Fond */
.bg-primary {
    background-color: $primary !important;
}

.bg-secondary {
    background-color: $secondary !important;
}

.bg-dark {
    background-color: $dark !important;
}